<section class="setter text-center">
<h2>Apply For Candidate Ship</h2>

<%= form_with model: @request, url: candidate_requests_path, local: true do |f| %>
  <%= render partial: "shared/validation_errors", locals: {obj: @request} %>

  <div class="field">
    <%= f.label :Party %><br />
    <%= f.text_field :party, autofocus: true, class:"form-control" , required:"true" %>
  </div>
  <br>

  <div class="field">
    <%= f.label :Symbol %><br />
    <%= f.file_field :image, class:"form-control", accept: 'image/png,image/jpeg,image/jpg,image/svg' , required:"true" %>
  </div>

  <div class=“field”>
      <%= f.hidden_field :voter_id, value: current_user.id %>
  </div>

  <div class=“field”>
      <%= f.hidden_field :constituency, value: current_user.constituency %>
  </div>

  <%= f.submit %>

<% end %>
</section>
