<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @poll.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @poll.end_date %>
</p>

<% vote = current_user.votes.find_by(poll: @poll) %>
<% if vote.nil? %>
  <%= form_with( model: [ @poll, @poll.votes.build ], local:true) do |form|  %>
    <% @candidates.each do |candidate| %>
      <%= form.radio_button :candidate_id, candidate.id%>
      <%= label :candidate_id, candidate.id %><br>
      <%= label :party, candidate.party %><br>
    <% end %>
    <%= form.hidden_field 'poll_id', value: @poll.id %>
    <%= form.submit value="Cast Vote"%>
  <% end %>
<% else %>
  You have already voted!
<% end %>
